{% load cart_template_tags %}


<nav class="navbar navbar-expand-lg shadow-none panw">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/">
      <i class="fab fa-shopware logo"></i>
      <strong class="text-light larger">e-music</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        {% comment %} <li class="nav-item active">-
          <a class="nav-link waves-effect" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/checkout">
            Checkout</a>
        </li> {% endcomment %}
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons ml-auto">
        {% if request.user.is_authenticated %}

        <li class="nav-item pl-2 mb-2 mb-md-0">
          <a href="{% url 'core:wishlist' %}" class="nav-link waves-effect" style='color:white;'>
            <i class="fas fa-heart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Wishlist </span>

          </a>
        </li>


        <li class="nav-item">
          <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect" style='color:white;'>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block "> Cart </span>
            <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>

          </a>
        </li>



        <li class="nav-item pl-2 mb-2 mb-md-0">
          <a class="nav-link waves-effect" href="{% url 'account_logout' %} " style='color:white;'>
            <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            <i class="fas fa-sign-out-alt"></i>

          </a>
        </li>
      </ul>
      {% else %}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav8"
        aria-controls="basicExampleNav8" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav8">
        <ul class="navbar-nav nav-flex-icons ml-auto">

          <li class="nav-item pl-2 mb-2 mb-md-0">
            <a href="{% url 'account_login' %}" type="button"
              class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light ">Sign in</a>
          </li>
          <li class="nav-item pl-2 mb-2 mb-md-0">
            <a href="{% url 'account_signup' %}" type="button"
              class="btn btn-outline-light btn-md btn-rounded btn-navbar waves-effect waves-light">Sign up</a>
          </li>
        </ul>
      </div>


      <!--<li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block text-danger"> Login </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
            <span class="clearfix d-none d-sm-inline-block text-success"> Signup </span>
          </a>
        </li>
      -->

      {% endif %}
      </ul>
    </div>


  </div>
</nav>